<!DOCTYPE html>
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/> 
</head>
<body>
    <%- include ('partials/nav'); %>
    <h1>Successful</h1>
    <p> <%= qs.who %></p>
    <p> <%= qs.department %></p>
    <p> <%= qs.email %></p>
</body>
</html>