<!DOCTYPE html>
<head>
    <link href="/assets/style.css" rel="stylesheet" type="text/css"/> 
</head>
<body>
    <%- include ('partials/nav'); %>
    <h1>Welcome to Home page</h1>
    <p>you won't find better website anywhere</p>
</body>
</html>