<%- include('header'); -%>

<form method="post">
    <table>
        <tr>
            <td>Name : </td>
            <td>
                <input type="text" placeholder="Enter Name" name="username" required> </td>
        </tr>
        <tr>
            <td> Email :</td>
            <td>
                <input type="text" placeholder="Enter Email" name="useremail" required>
            </td>
        </tr>
        <tr>
            <td>Mobile :</td>
            <td>
                <input type="text" placeholder="Enter Mobile" name="usermobile" required>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit">
                  <input type="button" value="Display" onclick="window.location='display'">
            </td>
        </tr>
    </table>
</form>